* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  gap: 300px;
  align-items: center;
}

.header-container{
  background-color: black;
  color: white;
  padding: 25px 40px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 700;
}

.logo-icon {
  font-size: 32px;
  color: #ffdd40;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  font-size: 15px;
  margin-left: 280px;
}

.btn-signup {
  background: black;
  color: white;
}

.btn-signup:hover {
  color: black;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.search-container {
  flex: 1;
  max-width: 500px;
  min-width: 200px;
  position: relative;
}

.search-bar {
  width: 200%;
  padding: 14px 20px 14px 45px;
  border-radius: 50px;
  border: none;
  background: white;
  color: black;
  font-size: 16px;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
}

.search-bar::placeholder {
  color: black;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: -220px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

section-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.image-cover{
  width:fit-content;
}

.recently-played-right-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  max-width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 4px;
  margin-bottom: 16px;
  object-fit: cover;
}

hr{
  border: none;
  height: 2px;
  background-color: white;
  width: 100%;
  margin-top: 20px;
}

.footer-left-container{
  margin-left: 60px;
}

.footer-left{
  margin-top: 30px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.social-media{
  margin-left: 100px;
}

.footer-right-container{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-right: 200px;
}

.left-nav{
  font-size: 20px;
  margin-right: 35px;
}

.right-nav{
  font-size: 20px;
}

.nav-list{
  color: white;
  text-decoration: none;
}

.list-style{
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.footer {
  background-color: black;
  color: white;
  padding: 25px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
}
