    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* HEADER */
  .header-container {
    background-color: black;
    color: white;
    padding: 25px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-side-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  
  .logo {
    height: 70px;
    width: auto;
  }
  
  .logo-user {
    width: 30px;
    height: 30px;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    font-size: 20px;
  }
  
  .btn-signup {
    background: black;
    color: white;
  }
  
  .btn-signup:hover {
    color: black;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* SEARCH */
  .search-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    position: relative;
  }
  
  .input-style {
    width: 90%;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
  }
  
  .input-style::placeholder {
    color: black;
  }
  
  .search-bar {
    width: 70%;
    padding: 14px 20px 14px 45px;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 16px;
    transition: all 0.3s;
  }
  
  .search-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 270px;
    height: 20px;
    cursor: pointer;
  }

  /* MENU TOGGLE */
  .burger-menu {
    display: block;
    flex-direction: column;
    cursor: pointer;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links {
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 80px; 
  left: 0;
  width: 200px;
  background: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 0 0 8px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-links a:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}
  
  /* MAIN CONTENT */
  main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 30px;
  }
  
  .card {
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background: #ddd;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 0.95rem;
    font-weight: 600;
  }
  
  .card-desc {
    font-size: 0.85rem;
    color: #666;
  }
  
  /* FOOTER */
  .footer-left-container{
    margin-left: 60px;
  }
  
  .footer-left{
    margin-top: 30px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }
  
  .social-media{
    margin-left: 100px;
  }
  
  .footer-right-container{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-right: 200px;
  }
  
  .left-nav{
    font-size: 20px;
    margin-right: 35px;
  }
  
  .right-nav{
    font-size: 20px;
  }
  
  .nav-list{
    color: white;
    text-decoration: none;
  }
  
  .list-style{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
  }
  
  .footer {
    background-color: black;
    color: white;
    padding: 25px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
  }

  hr{
    border: none;
    height: 2px;
    background-color: white;
    width: 100%;
    margin-top: 20px;
  }

  
